.card-notification{
    background-color: white;
    border-radius: 2px;
    text-align: center;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.progress-bar {
    /* margin: 5px 0px; */
    margin-top: 5px;
    width: 100%;
    border: 3px solid #05B1A1;
    border-radius: 3px;
    background-color: white !important;
}

.progress-bar-fill {
    height : 10px;
    background-color: #EA6C00;
    
    transition: width 500ms ease-in-out;
}