.card-notification{
    background-color: white;
    border-radius: 2px;
    text-align: center;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.status-profile{
    display: block;
    height: 15px;
    width: 100%;
    margin: 5px 0px;
    border: 3px solid  #05B1A1;
}

.loading{
    width: 60%;
    height: 100%;
    background-color: #EA6C00;
}

